---
// src/components/EventDetail.astro
import type { EventItem } from '@/pages/events/[slug].astro'
import ical, { ICalEventBusyStatus } from 'ical-generator'
import Features from '@/components/Features.astro'
import Map from '@/components/Events/Map.astro'
import dayjs from 'dayjs'

import timezone from 'dayjs/plugin/timezone'
import utc from 'dayjs/plugin/utc'
import base64 from 'base-64'
import utf8 from 'utf8'
import Hero from './Hero.astro'
import { DIRECTUS_URL } from '@/lib/directus'

interface Props {
  event: EventItem
}

const { event } = Astro.props
const calendar = ical({
  name: event.title,
})
dayjs.extend(utc)
dayjs.extend(timezone)

calendar.createEvent({
  summary: event.title!,
  start: dayjs(event.start_date).tz('Europe/Berlin').toDate(),
  end: dayjs(event.end_date).tz('Europe/Berlin').toDate(),
  description: event.description,
  organizer: { name: 'Markus Sommer', email: 'hallo@mens-circle.de' },
  location: {
    title: event.place!,
    address: `${event.address}, ${event.city}, ${event.zip}`,
    geo: { lat: event.latitude!, lon: event.longitude! },
  },
  busystatus: ICalEventBusyStatus.BUSY,
})
---

<Hero
  title={event.title!}
  image={`${DIRECTUS_URL}/assets/${event.image}`}
  date={event.start_date!}
  place={event.place!}
  address={event.address!}
  city={event.city!}
  zip={event.zip!}
  event_id={event.id}
>
  <a
    slot="ical"
    href={`data:text/calendar;base64,${base64.encode(utf8.encode(calendar.toString()))}`}
    download={`${event.slug}.ics`}
    class="text-primary-500 mt-4"
  >
    Kalendereintrag herunterladen
  </a>
</Hero>
<Features />
<Map
  latitude={event.latitude!}
  longitude={event.longitude!}
  place={event.place!}
  address={event.address!}
  city={event.city!}
  zip={event.zip!}
/>
