---
// src/components/EventDetail.astro
import type { EventItem } from '@/pages/events/[slug].astro'
import ical, { ICalEventBusyStatus } from 'ical-generator'
import Features from '@/components/Features.astro'
import Map from '@/components/Events/Map.astro'
import { DateTime } from 'luxon'

import base64 from 'base-64'
import utf8 from 'utf8'
import Hero from './Hero.astro'
import { DIRECTUS_URL } from '@/lib/directus'
import type { Location } from '@/lib/directus/types'

interface Props {
  event: EventItem
}

const { event } = Astro.props
const calendar = ical({
  name: event.title,
})

calendar.createEvent({
  summary: event.title!,
  start: DateTime.fromISO(event.start_date!).setZone('Europe/Berlin'),
  end: DateTime.fromISO(event.end_date!).setZone('Europe/Berlin'),
  timezone: 'Europe/Berlin',
  description: event.description,
  organizer: { name: 'Markus Sommer', email: 'hallo@mens-circle.de' },
  location: {
    title: (event.location as Location).place!,
    address: `${(event.location as Location).address}, ${(event.location as Location).city}, ${(event.location as Location).zip}`,
    geo: { lat: (event.location as Location).latitude!, lon: (event.location as Location).longitude! },
  },
  busystatus: ICalEventBusyStatus.BUSY,
})
---

<Hero
  title={event.title!}
  image={`${DIRECTUS_URL}/assets/${event.image}`}
  date={event.start_date!}
  place={(event.location as Location).place!}
  address={(event.location as Location).address!}
  city={(event.location as Location).city!}
  zip={(event.location as Location).zip!}
  event_id={event.id}
>
  <a
    slot="ical"
    href={`data:text/calendar;base64,${base64.encode(utf8.encode(calendar.toString()))}`}
    download={`${event.slug}.ics`}
    class="text-primary-500 mt-4"
  >
    Kalendereintrag herunterladen
  </a>
</Hero>
<Features />
<Map
  latitude={(event.location as Location).latitude!}
  longitude={(event.location as Location).longitude!}
  place={(event.location as Location).place!}
  address={(event.location as Location).address!}
  city={(event.location as Location).city!}
  zip={(event.location as Location).zip!}
/>
