---
import '../styles/global.css'
import Footer from '@/components/Footer.astro'
import '@fontsource-variable/jost'
import type { EventItem } from '@/pages/events/[slug].astro'
import { Schema } from 'astro-seo-schema'
import { DIRECTUS_URL } from '@/lib/directus'
import { Seo } from 'astro-seo-meta'
import Navigation from '@/components/Navigation.astro'
import SpeedInsights from '@vercel/speed-insights/astro'
interface Props {
  event: EventItem
}

const { event } = Astro.props

const image = `${DIRECTUS_URL}/assets/${event.image}`
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Männerkreis Niederbayern" />
    <link rel="manifest" href="/site.webmanifest" />
    <Seo
      title={`${event.title} Männerkreis Niederbayern`}
      description={event.description!}
      facebook={{
        image: image,
        url: `https://mens-circle.de/events/${event.slug}`,
        type: 'website',
      }}
      twitter={{
        image: image,
        card: 'summary',
      }}
    />

    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'Event',
        name: event.title!,
        startDate: event.start_date!,
        endDate: event.end_date!,
        eventAttendanceMode: 'https://schema.org/OfflineEventAttendanceMode',
        eventStatus: 'https://schema.org/EventScheduled',
        location: {
          '@type': 'Place',
          name: event.place!,
          address: {
            '@type': 'PostalAddress',
            streetAddress: event.address!,
            addressLocality: event.city!,
            postalCode: event.zip!,
            addressCountry: 'DE',
          },
        },
        image: `${image}`,
        description: event.description!,
        url: `https://mens-circle.de/events/${event.slug}`,
        organizer: { '@type': 'Person', name: 'Markus Sommer', url: 'https://mens-circle.de/' },
        performer: { '@type': 'Person', name: 'Markus Sommer', url: 'https://mens-circle.de/' },
      }}
    />
    <link rel="canonical" href={`https://mens-circle.de/events/${event.slug}`} />
  </head>
  <body class="font-jost bg-white text-black dark:bg-stone-900 dark:text-white">
    <SpeedInsights />
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
